@inherits LayoutComponentBase

<PageTitle>PlayerStatistics</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-dark">

        <article class="align-content-xl-start">
            @Body
        </article>
    </main>
</div>
